graph {
    fill-color: #222222;
}

edge {
    arrow-shape: arrow;
}

node {
    text-alignment: under;
    text-color: white;
    text-style: bold;
    text-background-mode: rounded-box;
    text-background-color: #999999;
    text-padding: 5px, 4px;
    text-offset: 5px, 5px;
    text-size: 30;
}
